<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SFA</title>
<link href="../build/css/app.css" rel="stylesheet">
</head>
<body class="gray-bg">
 
<div class="middle-box text-center loginscreen  animated fadeInDown">
	<div>
		<div>
		<img src="http://70.35.204.78/support/scp/logo.php" style="height:90px">
		</div>
		<h3>Mobile Sales Force</h3>
		<p>Login in. To see it in action.</p>
		<p>
		<div class="alert alert-error" id="errorSignin" style="display:none;padding:0px 5px 1px 1px">
			<font color="red" id="errorMsgSignin">
			    {{responseDetails}}
			</font><ul><li></li></ul></font>
		</div>
		</p>
		<form class="m-t" role="form" action="index.html">
			<div class="form-group">
				<input  ng-model="username" name="username" class="form-control" placeholder="Username"
					>
			</div>
			<div class="form-group">
				<input ng-model="pwd" name="password"  type="password"  class="form-control" placeholder="Password">
			</div>
			<button ng-click="login()"  class="btn btn-primary block full-width m-b">
			<i ng-show="signin" class="fa fa-spinner fa-spin"></i> Login
			</button>
			<a href="#"><small>Forgot password?</small></a>

		</form>
		<p class="m-t">
		
		</p>
	</div>
</div>
<!-- Mainly scripts -->
<script src="../build/js/vendor1.js"></script>
<script src="../build/js/vendor2.js"></script>
	
</body>
</html>